#div__container {
  /* max-width: 65em; */
  margin: 1em auto;
  padding: 0.8em;
}

@media screen and (max-width: 600px) {
  #div__container {
    margin: 0.6em auto;
    padding: 0.1em;
  }
}

#div__container nav {
  margin: -1.5em 0.4em 0.8em 0.4em;
  text-align: center;
}
#div__container nav > ul {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  gap: 1em;
  padding-bottom: 1.8em;
  border-bottom: 1px solid whitesmoke;
}
#div__container > ul > li {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  text-align: center;
}
