#video__container {
  width: 80%;
  height: 100%;
}

#add__video__form {
  background-color: whitesmoke;
  width: 50%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  border-radius: 2em;
}

#add__video__form input,
#add__video__form div {
  margin: 0 0 1em 0;
}
#add__video__form div {
  border-bottom: 1px solid black;
  font-size: 1.2em;
}

.img__video__msg__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.play__icon {
  display: flex;
  /* width: 100%; */
  position: absolute;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.play__icon {
  color: whitesmoke;
  background-color: rgba(8, 8, 8, 0.5);
  border-radius: 50%;
}

.play__icon:hover {
  background-color: rgba(0, 0, 0, 0.85);
  color: rgb(225, 216, 41);
}

.video__close__modal__icon {
  /* display: flex; */
  position: absolute;
  top: 5rem;
  right: 0.4rem;
  background-color: black;
  border-radius: 50%;
  color: whitesmoke;
}

.video__close__modal__icon:hover {
  background-color: tomato;
  color: black;
}

.video-responsive > iframe {
  width: 53rem;
  height: 33rem;
}
.video__list__item {
  flex: flex;
  flex-direction: column;
}
.video__list__item img {
  margin: 0 auto;
}
.video__caption {
  display: flex;
  position: relative;
  font-size: 0.8em;
  padding: 0.1em 2.1em;
  max-height: 1.4rem;
  overflow: hidden;
  background-color: whitesmoke;
}
.video__caption:hover {
  max-height: unset;
  overflow: visible;
}

.video__controls {
  position: absolute;
  padding: 0.5em;
  margin-bottom: 0.3em;
  align-self: flex-end;
  display: flex;
  width: 50%;
  justify-content: space-around;
  z-index: 50;
  background-color: rgba(245, 245, 245, 0.3);
  border-radius: 0.5em;
}

.video__controls:hover {
  background-color: rgba(245, 245, 245, 0.87);
}

.video__msg {
  position: absolute;
  top: 0;

  margin: 10px auto;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.5em;
  width: 75%;
  z-index: 80;
}

.video__msg div {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .video-responsive > iframe {
    width: 88vw;
    height: 12rem;
  }
  .video__close__modal__icon {
    font-size: 2.9em !important;
    top: 30vh;
    right: 1vw;
    z-index: 88;
  }
  #add__video__form {
    width: 88vw;
  }
  .video__list div.video__controls {
    padding: 0.3em;
  }
  .play__icon {
    font-size: 3.3em !important;
  }
  .video__caption {
    overflow: visible;
    max-height: unset;
    padding: 0.2em;
    font-size: 0.75em;
  }
  #video__container {
    width: 95%;
  }
}
