doctype html
html
head
    title Teaching
    style
        include style.css
    body
    .w3-row.w3-container.height100
        
        .w3-col(style='width:20%').sidebar
            p
        .w3-col(style='width:60%').middlecontent
            nav
                .topnav
                    a(href='./bio.html') Bio
                    a(href='./listen.html') Watch & Listen
                    a(href='./gallery.html') Gallery
                    a.active(href='./teaching.html') Teaching
                    a(href='./contact.html') Contact
            
                    
            .content
       
                article
                    h2 Teaching 
                    

                    p students blah blah blah

        .w3-col(style='width:20%').sidebar
            p 