doctype html
html
head
    title Matthew Shipp
    style
        include style.css
    body
    .w3-row.w3-container
        p Inside a container: 
        .w3-col.m6.w3-dark-grey.w3-center
            p m3
        .w3-col.m6.w3-dark-grey.w3-center 
            nav
                .topnav
                    a.active(href='./html/bio.html') Bio
                    a(href='#listen') Watch & Listen
                    a(href='#reeds') Gallery
                    a(href='#teaching') Teaching
                    a(href='#contact') Contact
            
                    h2 Hello
                
        block content
            h1 Matthew Shipp
            h2 Oboe / English horn

    
        .w3-col.m3.w3-red.w3-center
            p m3

