#div__bio_container {
  display: flex;
  width: 100%;
  height: 100%;
  /* border: 1px solid purple; */
}

#div__profilepic {
  /* border: 1px solid green; */
  max-width: 20em;
  height: 100%;
  width: fit-content;
  padding: 5px;
  align-self: center;
  vertical-align: middle;
  text-align: center;
}

#article__bio {
  text-align: justify;
  width: 100%;
  /* border: 1px solid black; */
  padding: 0.8rem;
}
img {
  width: 80%;
}
