.audio__grid {
  /* display: grid; */
  max-width: 20em;
  /* height: 100%; */
  /* grid-template-columns: 20rem; */
  /* grid-template-rows: 1fr 2fr 1fr; */
  padding: 1em;
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(46, 46, 46);
  border-radius: 15px;
  justify-items: stretch;
  /* align-items: center; */
}

#audio__grid:hover {
  border: 1px solid #000000;
}

#audio__grid:hover .black__bg {
  background-color: rgb(46, 46, 46);
  color: rgb(255, 255, 255);
}

#audio__grid audio,
#audio__grid figcaption {
  padding: 10px;
}

.composer {
  font-size: 0.7em;
}

.audio__player {
  grid-row-start: 2;
  padding: 6px 0;
  /* text-align: center ; */
  /* border: 1px solid pink; */
}

.audio__title_composer {
  grid-row-start: 1;
  font-size: 1.1rem;
  font-weight: 500;
}

.audio__performers {
  font-weight: 200;
  font-size: 0.9rem;
  font-style: italic;
}

.black__bg {
  background-color: rgb(46, 46, 46);
  padding: 3px;
  margin-bottom: 3px;
  color: rgb(223, 223, 223);
  border-radius: 5px;
}

.form__upload {
  margin: 0 auto;
  width: 80%;

  display: flex;
  justify-content: space-around;
}
.form__upload label {
  float: left;
  text-align: left;

  line-height: 1.5em;
  font-size: 1.3em;
  margin: 0.2em;
  width: 20%;
}

.form__upload label + input {
  float: right;
  text-align: left;
  line-height: 1.5em;
  font-size: 1.1em;
  margin: 0.2em;
  padding: 0.25em;
  border: 0;
  border-bottom: 0.1em solid rgb(156, 156, 156);
}

.form__upload label + input + br {
  clear: both;
}
.form__upload label + input:focus,
.form__upload label + input:active {
  border-radius: 5px;
  outline: none;
  background-color: rgba(177, 177, 177, 0.2);
}

.form__upload input[type="file"] {
  padding: 5px;
}

.form__fields {
  flex: 1 1 60%;
  text-align: center;
  /* display: inline-flex;
  flex-direction: column; */
}

.form__fields button {
  width: 7em;
  font-size: 1.2em;
  margin: 0 auto;
}

.audio_preview {
  flex: 1 1 40%;
}
