.audio__grid {
  /* display: grid; */
  max-width: 20em;
  /* height: 100%; */
  /* grid-template-columns: 20rem; */
  /* grid-template-rows: 1fr 2fr 1fr; */
  padding: 1em;
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(46, 46, 46);
  border-radius: 15px;
  justify-items: stretch;
  /* align-items: center; */
}

#audio__grid:hover {
  border: 1px solid #000000;
}

#audio__grid:hover .black__bg {
  background-color: rgb(46, 46, 46);
  color: rgb(255, 255, 255);
}

#audio__grid audio,
#audio__grid figcaption {
  padding: 10px;
}

.composer {
  font-size: 0.7em;
}

.audio__player {
  grid-row-start: 2;
  padding: 6px 0;
  /* text-align: center ; */
  /* border: 1px solid pink; */
}

.audio__title_composer {
  grid-row-start: 1;
  font-size: 1.1rem;
  font-weight: 500;

  /* border: 1px solid green; */
}

.audio__performers {
  font-weight: 200;
  font-size: 0.9rem;
  font-style: italic;
}

.black__bg {
  background-color: rgb(46, 46, 46);
  padding: 3px;
  margin-bottom: 3px;
  color: rgb(223, 223, 223);
  border-radius: 5px;
}
