#gallery__container,
#video__container {
  width: 80%;
  height: 100%;
  border: 1px solid salmon;
}

#upload__to_gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#upload__icon__gallery {
  font-size: 7.5em;
}

#upload__icon__gallery:hover {
  color: tomato;
}

#upload__image__modal .cancel__icon {
  position: absolute;
  right: -0.3em;
  top: -0.4em;
  font-size: 3.2em;
  background-color: white;
  border-radius: 50%;
}

#upload__image__modal .cancel__icon:hover,
.hover__crimson:hover {
  color: crimson;
  cursor: pointer;
}

.gallery__msg {
  position: absolute;
  margin: 25% auto;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.5em;
  width: 75%;
}

.gallery__msg div {
  display: flex;
  flex-direction: column;
}
.gallery__controls {
  position: absolute;
  padding: 0.5em;
  bottom: 0.9em;
  display: flex;
  width: 50%;
  justify-content: space-around;
  z-index: 50;
  background-color: rgba(245, 245, 245, 0.3);
  border-radius: 0.5em;
}

.gallery__controls:hover {
  background-color: rgba(245, 245, 245, 0.87);
}
@media screen and (max-width: 600px) {
  .gallery__msg {
    margin: 8px auto;
  }
  .gallery__msg span {
    display: flex;
    justify-content: space-around;
  }
  .gallery__msg button {
    font-size: 0.75em;
    display: inline-block;
    width: fit-content;
    /* width: 30%; */
    margin: 3px 0;
    border: 1px solid bla/ck;
  }
  #gallery__container {
    width: 100%;
    height: 100%;
  }
}
