#div__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.oboe__img {
  width: 18em;
  display: inline-block;
  margin: -1.5em auto;
  height: 6em;
  background-image: url(../oboe_vector.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 600px) {
  nav li {
    font-size: 1.5em;
  }
  #div__header h1 {
    font-size: 2em;
  }
}
