.delete__modal__container,
#upload__image__modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 10rem;
  left: 25vw;
  background-color: rgba(235, 235, 235, 0.95);
  width: 60%;
  z-index: 50;
  border-radius: 2em;
  padding: 2em;
}

.delete__modal__message,
.upload__image__msg {
  font-size: 1.5em;
  background-color: rgba(253, 253, 253, 0.6);
  border-radius: 2em;
  padding: 1em;
  text-align: center;
}
.delete__modal__container div,
#upload__image__modal div {
  display: flex;
  justify-content: center;
}

.delete__modal__container button,
#upload__image__modal button {
  width: 100%;
  font-size: 1.2em;
  height: 2em;
  border: 1px solid rgb(122, 122, 122);
  border-radius: 2em;
  margin: 0 1em;
  cursor: pointer;
  z-index: 55;
}

#upload__image__modal > button {
  width: 40%;
  font-size: 1.2em;
  margin: 1rem auto;
}

.delete__modal__container button:hover,
#upload__image__modal button:hover {
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
}

.upload__image__msg img {
  max-width: 10rem;
}

#upload__image__modal input {
  border: 1px solid whitesmoke;
  outline: 0;
  padding: 1em;
  border-radius: 1em;
  font-size: 1em;
}

#upload__image__modal input:hover {
  border: 1px solid peru;
}
