nav li {
  display: inline-block;
  font-family: mr-eaves-sans, sans-serif;
  font-size: 1.9em;
  font-weight: 700;
}

li a,
li a:visited,
li a:active {
  color: #9b9994;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 3px solid white;
}
li a:hover {
  color: #dcc333;
  /* text-decoration: underline; */
  border-bottom: 3px solid #dcc333;
}
