#add__video__form {
  background-color: whitesmoke;
  width: 50%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  border-radius: 2em;
}

#add__video__form input,
#add__video__form div {
  margin: 0 0 1em 0;
}
#add__video__form div {
  border-bottom: 1px solid black;
  font-size: 1.2em;
}

.play__icon {
  position: absolute;
  top: 4rem;
  color: whitesmoke;
  background-color: rgba(8, 8, 8, 0.5);
  border-radius: 50%;
}

.play__icon:hover {
  background-color: rgba(0, 0, 0, 0.85);
  color: rgb(225, 216, 41);
}

.video__close__modal__icon {
  /* display: flex; */
  position: absolute;
  top: 5rem;
  right: 0.4rem;
  background-color: black;
  border-radius: 50%;
  color: whitesmoke;
}

.video__close__modal__icon:hover {
  background-color: tomato;
  color: black;
}

.video-responsive > iframe {
  /* width: 853px; */
  /* height: 480px; */
  width: 53rem;
  height: 33rem;
}
.video__list__item {
  flex: flex;
  flex-direction: column;

  /* border: 1px solid rgb(32, 32, 32); */
}
.video__list__item img {
  margin: 0 auto;
}
.video__caption {
  display: flex;
  float: clear;
  position: relative;
  font-size: 0.8em;
  padding: 0.1em 2.3em;
  max-height: 1.4rem;
  overflow: hidden;
  text-align: justify;
}
.video__caption:hover {
  overflow: visible;
}
.video__list div.gallery__controls {
  bottom: unset;
  top: 10em;
}
@media screen and (max-width: 600px) {
  .video-responsive > iframe {
    width: 88vw;
    height: 12rem;
  }
  .video__close__modal__icon {
    font-size: 2.9em !important;
    top: 30vh;
    right: 1vw;
    z-index: 88;
  }
  #add__video__form {
    width: 88vw;
  }
}
