@import url("https://use.typekit.net/gau7dsu.css");
@import url("./components/styles/modal.css");

html,
h1,
h2,
h3,
div,
span,
p,
span {
  font-weight: 300;
  color: rgb(26, 26, 26);
}

/* body::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: -50%;
  left: -50%;
  z-index: -1;
  background: url(./) 0 0 repeat;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
} */

* {
  transition: all 200ms ease-in 2ms;
  box-sizing: border-box;
  /* height: 0; */
}

ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3em;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: ambroise-std, serif;
  font-weight: 300;
}

div,
p,
span,
article {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  font-weight: 200;
  font-style: normal;
}

p {
  margin: 1em 0 1em 0;
}

html {
  width: 100vw;
}

body,
html {
  /* margin: 0;
  padding: 0; */
  height: fit-content;
}
article {
  font-size: 0.9em;
}
